.content {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.content h1 {
   margin-bottom: 20px;
}

.counter {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: red;
   height: 200px;
   background-color: rgba(0, 0, 0, 0.3);
   border-radius: 20px;
}

.counter button {
   background-color: #cecece;
   border: none;
   border-radius: 20px;
   padding: 10px 20px;
   outline: none;
   cursor: pointer;
   font-weight: bold;
   margin: 20px;
   transition: all ease 0.3s;
}

.counter button:hover {
   filter: brightness(0.8);
}

.counter div {
   font-weight: bold;
}